@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 2vw;
    font-family: 'Raleway', "Lexend", Arial, sans-serif;
}

h1 {
    font-size: 8vw;
    text-align: center;
    letter-spacing: 2px;
}

#Output {
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}

#Notice {
    position: absolute;
    top:75%;
    left:50%;
    transform: translate(-50%,-50%);
    font-family: "lexend", Arial, sans-serif;
    background-color: transparent;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 2vw;
}

#Container {
    height: 100vh;
    width: 100%;
    color: #fff;
    background: linear-gradient(69deg, rgb(9, 167, 143) 0%, rgb(22, 200, 161) 25%, rgb(231, 82, 236) 50%, rgb(208, 179, 255) 75%, rgba(253,45,242,1) 100%);
    background-size: 400%;
    animation: tide 60s ease-in-out infinite;
}

@keyframes tide {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}